<div class='social_buttons'>
  <a href="https://twitter.com/share"
     class="twitter-share-button"
     data-text='"{{ entry.tweet }}" @stellenbauchery http://stellenbauchery.com{{ entry.url }}'
     data-count="none"
     data-dnt="true">Tweet</a>

  <script src='/javascripts/twitter_button.js'></script>

  <div class="fb-share-button"
       data-href="http://stellenbauchery.com{{ entry.url }}"
       data-type="button"></div>
  <div id="fb-root"></div>

  <script src='/javascripts/facebook_button.js'></script>
</div>
