        </main>
      </div><!--wrapper-->

      <footer>
        <div class='container wrapper'>

          <p class='left'>
            &copy; 2007&mdash;{{ site.time | date: "%Y" }}
            <i><a href='/about.html'>Julia Burke</a></i>
            (<a href='/attribution.html'>Attribution</a>)
          </p>

          {% include navigation.html %}
        </div><!--container-->
      </footer>
    </div><!--background-->

    <!-- required for FB share button -->
    <!--<div id="fb-root"></div>-->

    <script src='/javascripts/twitter_button.js'></script>
    <!--<script src='/javascripts/facebook_button.js'></script>-->
  </body>
</html>
