{% capture page_title %}{% if include.custom_title %}{{ include.custom_title }}{% else %}{{ page.title }}{% endif %}{% endcapture %}
{% capture page_description %}{% if include.custom_description %}{{ include.custom_description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

<!DOCTYPE html>
<html>

  <head>
    <title>{{ page_title }} | {{ site.name }}</title>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='viewport' content='width=device-width'>
    <meta name='description' content="{{ site.description | double_to_single_quotes }}">

    <link rel='icon' type='image/png' href='/images/favicon.png'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/screen.css'>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Ruthie'>

    <meta property='og:title' content="{{ page_title }}">
    <meta property='og:site_name' content="{{ site.name }}">
    <meta property='og:url' content="{{ site.url }}{{ page.url }}">
    <meta property='og:description' content="{{ page_description | double_to_single_quotes }}">
    <meta property='og:type' content="blog">
  </head>

  <body lang='en'>
    <div class='background'>
      <div class='wrapper'>

        <header class='container'>
          <h2 class='logo left'><a class='no_border' href='/'>Stellenbauchery</a></h2>
          {% include navigation.html %}
        </header>

        <main class='container'>
